body {
    margin: 0;
    padding: 0;
}

#root {
    background: rgb(241, 241, 241);
    min-height: 100vh;

    // 主体布局
    &>article {
        &>header {
            margin-bottom: 20px;

            // 头部样式
            .header {
                padding: .4rem 2rem;
                background: white;

                // 标题
                .title {
                    font-size: 1.4rem;
                    color: #007fff;
                }

            }
        }

        // 内容主体
        &>main {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            margin: 20px;

            // 路由主体
            &>section {
                margin-right: 20px;
                flex-grow: 1;
            }

            // 布局侧边栏
            &>aside {
                padding: 2rem;
                background: white;
                flex-basis: 280px;

                // 姓名
                .name {
                    color: #007fff;
                }
            }
        }

        &>footer {
            color: #888;
            padding-bottom: 40px;
        }

    }

    // 详情页
    .detail{
        .ant-card-head-title{
            display: flex;
            justify-content: center;
            text-align: center;
            .title{
                font-size: 2rem;
                margin-bottom: 4px;
            }
        }
    }
}

// 全局常量
// 白色背景
.bg-white {
    background: white;
}

// 文字靠右
.right {
    text-align: right;
}

// 文字颜色
.gray {
    // 除去第一个，其他颜色变灰
    &>span:not(:first-child) {
        color: rgb(201, 201, 201);
        margin-left: 2rem;
        font-weight: 400;
        i{
            margin-right: .4rem;
        }
    }
}

.center {
    text-align: center;
}

// flex布局
.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}