body {
    margin: 0;
    padding: 0;
}

#root {
    background: rgb(241, 241, 241);
    min-height: 100vh;
    font-size: 1rem;

    // 主体布局
    &>article {
        &>header {
            margin-bottom: 10px;

            // 头部样式
            .header {
                padding: .4rem 2rem;
                background: white;

                // 标题
                .title {
                    font-size: 1.4rem;
                    color: #007fff;
                }

            }
        }

        // 内容主体
        &>main {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            margin: 10px;

            // 路由主体
            &>section {
                margin-right: 10px;
                flex-grow: 1;

                word-wrap: break-word;
                word-break: break-all;
                overflow: auto;

                // 主页相关样式
                .home {
                    img {
                        border-radius: 6px;
                    }

                    .desc {
                        padding: 10px 20px;
                        font-size: 1rem;
                    }
                }
            }

            // 布局侧边栏
            &>aside {
                flex-basis: 280px;
                max-width: 280px;

                // 个人信息
                .editor-info {
                    padding: 2rem;
                    margin-bottom: 10px;
                    background: white;
                }

                // 锚点
                .anchor {
                    margin-left: 0;

                    &>div {
                        margin: 4px;
                    }
                }

                // 姓名
                .name {
                    color: #007fff;
                }
            }
        }

        &>footer {
            color: #888;
            padding-bottom: 10px;
            p{
                margin-bottom: .2rem;
            }
        }

    }

    // 详情页
    .detail {
        .ant-card-head-title {
            display: flex;
            justify-content: center;
            text-align: center;

            .title {
                font-size: 2rem;
                margin-bottom: 4px;
            }
        }
    }
}

// 全局常量
// 白色背景
.bg-white {
    background: white;
}

// 文字靠右
.right {
    text-align: right;
}

// 文字颜色
.gray {

    // 除去第一个，其他颜色变灰
    &>span {

        color: rgb(201, 201, 201);
        margin-right: 2rem;
        font-weight: 400;

        &.top {
            color: white;
        }


        i {
            margin-right: .4rem;
        }
    }
}

.center {
    text-align: center;
}

// flex布局
.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// 这里使用jspang.com中的样式，这里应该都是markdown样式了
.markdown {
    font-size: 1rem;

    h1 {
        font-size: 1.6rem;
    }



    pre {
        display: block;
        background-color: #f3f3f3;
        padding: .5rem !important;
        overflow-y: auto;
        font-weight: 300;
        font-family: Menlo, monospace;
        border-radius: .3rem;
    }

    pre {
        background-color: #283646 !important;
    }

    pre>code {
        border: 0px !important;
        background-color: #283646 !important;
        color: #FFF;

    }

    code {
        display: inline-block;
        background-color: #f3f3f3;
        border: 1px solid #fdb9cc;
        border-radius: 3px;
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
        color: #4f4f4f;
        margin: 0px 3px;

    }
}